body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: #d9d9d9;
  margin: 10px;
}
button {
  cursor: pointer;
  color: white;
  background-color: #5b5b5b;
  border: none;
  border-radius: 5px;
}

hr {
  height: 3px;
}
.header {
  text-align: center;
  font-size: 25px;
}

.connectWallet {
  text-align: center;
}

.connectWallet button {
  font-size: 13px;
  padding: 10px 12px;
  margin-top: 25px;
}

.voteContainer {
  text-align: center;
}

.voteContainer button {
  font-size: 20px;
  padding: 15px 17px;
  margin: 25px;
  margin-top: 0px;
}

.resultContainer {
  text-align: center;
}
.resultContainer button {
  font-size: 13px;
  padding: 10px 12px;
  margin: 25px;
}
table {
  border-collapse: collapse;
  width: 100%;
  font-size: 20px;
}
td,
th {
  text-align: center;
  padding: 8px;
}
